// Gilroy Font Family
@font-face {
    font-family: 'Gilroy';
    src:
        url('../assets/fonts/gilroy/Gilroy-Bold.eot') format('eot'),
        url('../assets/fonts/gilroy/Gilroy-Bold.ttf') format('truetype'),
        url('../assets/fonts/gilroy/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../assets/fonts/gilroy/Gilroy-ExtraBold.eot') format('eot'),
        url('../assets/fonts/gilroy/Gilroy-ExtraBold.ttf') format('truetype'),
        url('../assets/fonts/gilroy/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../assets/fonts/gilroy/Gilroy-Light.eot') format('eot'),
        url('../assets/fonts/gilroy/Gilroy-Light.ttf') format('truetype'),
        url('../assets/fonts/gilroy/Gilroy-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../assets/fonts/gilroy/Gilroy-Medium.eot') format('eot'),
        url('../assets/fonts/gilroy/Gilroy-Medium.ttf') format('truetype'),
        url('../assets/fonts/gilroy/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../assets/fonts/gilroy/Gilroy-Regular.eot') format('eot'),
        url('../assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype'),
        url('../assets/fonts/gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src:
        url('../assets/fonts/gilroy/Gilroy-SemiBold.eot') format('eot'),
        url('../assets/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype'),
        url('../assets/fonts/gilroy/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
}

// Circe Font Family

@font-face {
    font-family: 'Circe-Regular';
    src:
        url('../assets/fonts/circe/Circe-Regular.eot') format('eot'),
        url('../assets/fonts/circe/Circe-Regular.ttf') format('truetype'),
        url('../assets/fonts/circe/Circe-Regular.woff') format('woff');
    font-weight: 400;
}